.App{
display: flex;
justify-content: center;
flex-wrap: wrap;
 
}
.header_{
  display: flex;
  background: #EAEAEA;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  
}

.grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.QPICK_{
  margin-left: 5px;
}
.Phone_{
  border: none;
 
}
.Phone_model{
 border:none;
 margin-left: 3px;
}
.Liked_phones{
  width: 23px;
  height: 20px;
  border: none;
  background-image: url(/public/Heart_icon.png);
  background-size: cover;
  background-color: #EAEAEA;
  margin-left: 190px;
}
.Cart_{
  width: 22px;
  height: 20px;
  margin-top: 20px;
  border: none;
  background-image: url(/public/Cart_icon.png);
  background-size: cover;
  background-color: #EAEAEA;
  margin-bottom: 20px;
  margin-right: 10px;
}
.liked__{
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  background-color: #FFA542;
  font-size: 13px;
  font-weight: 600;
  height:12px;
  width: 12px;
  flex-direction: column-reverse;
  margin-top: 15px;
  margin-left: 12px;

}
.shopped_{
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  background-color: #FFA542;;
  font-size: 13px;
  font-weight: 600;
  height: 12px;
  width: 12px;
  flex-direction: column-reverse;
  margin-top: 15px;
  margin-left: 4px;

}
