.App{
display: flex;
justify-content: center;
flex-wrap: wrap;
 
}
.header_{
  display: flex;
  background: #EAEAEA;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  
}

.grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.QPICK_{
  margin-left: 5px;
  text-decoration: none;
  border: none;
  background-color: #EAEAEA;
}
.QPICK_>a{
  text-decoration: none;
  color: black;
}
.Phone_{
  border: none;
  display: flex;
 
  background-color: #EAEAEA;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.Phone_model{
 border: solid 2px rgb(0, 0, 0);
 margin-left: 3px;
 background-color: #EAEAEA;
 width: 120px;
 text-align: center;

}
.liked_cart{
  display: flex;
  justify-content: space-around;
  width: 100px;

}
.Liked_phones{
  cursor: pointer;
  width: 24px;
  height: 20px;
  border: none;
  background-image: url(/public/Heart_icon.png);
  background-size: cover;
  background-color: #EAEAEA;
 
}
.Cart_{
  width: 24px;
  height: 20px;
  border: none;
  background-image: url(/public/Cart_icon.png);
  background-size: cover;
  background-color: #EAEAEA;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.liked__{
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  background-color: #FFA542;
  font-size: 13px;
  font-weight: 600;
  height:12px;
  width: 12px;
  flex-direction: column-reverse;
  margin-top: 15px;
  margin-left: 12px;

}
.shopped_{
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  background-color: #FFA542;;
  font-size: 13px;
  font-weight: 600;
  height: 12px;
  width: 12px;
  flex-direction: column-reverse;
  margin-top: 15px;
  margin-left: 4px;
 

}
@media (max-width:500px) {
  .grid-container{
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .Phone_model{
    display: none;
  }
  .App{
    width: 500px;
  }
  body{
    margin: 0;
    padding: 0;
  }
  .header_{
    margin: 0px 10px;
  }
  
}
